<div class="divPrincipal">
    <div class="row">
        <div class="col-2"></div>
            <form class="form col-8 bg-dark" [formGroup]= "consultaForm" (ngSubmit)="agregarFecha()" >  
            <div class="row">
                <div class="mt-4 mb-4 "></div>
                <div class="row mt-1">
                    <div class="col-2"></div>
                    <div class="col-8 ">
                        <div class="mb-4">
                            <label class="text-light mb-1" >Filtro mensual</label>
                            <input type="date" formControlName="fecha">
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="col-4"></div>
                            <button type="submit" class="col-4 btn btn-success btn-lg">Buscar</button>
                        </div>
                    </div>
                </div>    
            </div>
        </form>
    </div>
    <div class="row mt-5" >
      <div *ngIf="consultaGastos.length >0">
        <h5 >Gastos</h5>
        <table class="table table-dark " >
          <thead>
            <tr>
                <th colspan="2">Nombre</th>
                <th >fecha</th>
                <th>valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let listado of consultaGastos">
              <td colspan="2">{{listado.nombre}}</td>
              <td >{{listado.fecha |date}}</td>
              <td>{{listado.valor | currency:'COP '}}</td>
            </tr>
            <tr class="space" *ngIf="this.totalGastos > 0">
              <td colspan="2" ></td>
              <td>
                  <h5 class="ml-2">Total</h5>
              </td>
              <td>
                  <h5>{{this.totalGastos | currency:'COP '}}</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
         <div *ngIf="consultaIngresos.length >0">
          <h5 >Ingresos</h5>
          <table class="table table-dark">
            <thead>
              <tr>
                  <th colspan="2">Nombre</th>
                  <th >fecha</th>
                  <th>valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listado of consultaIngresos">
                <td colspan="2">{{listado.nombre}}</td>
                <td >{{listado.fecha |date}}</td>
                <td>{{listado.valor | currency}}</td>
              </tr>
              <tr class="space" *ngIf="this.totalIngresos > 0">
                <td colspan="2" ></td>
                <td>
                    <h5 class="ml-2">Total</h5>
                </td>
                <td>
                    <h5>{{this.totalIngresos | currency:'COP '}}</h5>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
    </div>
</div>
