.divPrincipal{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
form{
    opacity: 0.9;
    border-radius: 10px;
}
input{
    margin-left: 22px;
}
h5{
    color: aliceblue;
}
.space{
    opacity: 0.9;
}