<div class="container divPrincipal ">
    <div class="row">
        <div class="col-1"></div>
        <form class="form col-10 bg-dark" [formGroup]='ingresosForm' (ngSubmit)="agregarIngreso()" >
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 mt-5 mb-2">
                    <select class="form-select ml-4" formControlName="tipoIngreso" aria-label="Default select example" >
                        <option *ngFor="let tipoIngreso of tipoIngresos" value="{{tipoIngreso}}">{{tipoIngreso}}</option>W
                    </select>
                </div>
                    <div class="row mt-5">
                        <div class="col-2"></div>
                        <div class="col-8 ">
                            <div class="mb-4" *ngIf="ingresosForm.value.tipoIngreso == tipoIngresos[1]">
                                <label  class="text-light mb-1">Nombre de Ingreso extra</label>
                                <input type="text" formControlName="nombreIngreso" class="form-control" >
                            </div>    
                            <div class="mb-4">
                                <label class="text-light mb-1">Fecha</label>
                                <input type="date"  formControlName="fecha" class="form-control" >
                            </div>
                            <div class="col-2"></div>
                            <div class="mb-4">
                                <label class="text-light mb-1">Valor ingreso</label>
                                <input type="number" formControlName="valorIngreso" class="form-control" >
                            </div>
                            <div class="row mb-5 mt-5">
                                <div class="col-4"></div>
                                <button type="submit"  class="col-4 btn btn-success btn-lg">Guardar</button>
                            </div>
                        </div>
                    </div>    
            </div>
            
        </form>
    </div>

</div>



