.fondo {
    background: #000000; 
    background: -webkit-linear-gradient(to right, #061700, #52c234); 
    background: linear-gradient(to right, #29880e,#061700 ); 
    
    background-size: cover;
}