<div class="container divPrincipal ">
    <div class="row">
        <div class="col-1"></div>
        <form class="form col-10 bg-dark mb-5" [formGroup]='gastosForm' (ngSubmit)="agregarGasto() ">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 mt-5 mb-2">
                    <select class="form-select ml-4"  formControlName="tipoGasto" aria-label="Default select example">
                        <option *ngFor="let tipogasto of tipoGastos" value="{{tipogasto}}">{{tipogasto}}</option>

                    </select>
                </div>
                <div class="row mt-5">
                    <div class="col-2"></div>
                    <div class="col-8 ">
                        <div class="col-3"></div>
                        <label class="text-light mb-1" *ngIf="gastosForm.value.tipoGasto == tipoGastos[0]">Servicio</label>
                        <select class="form-select ml-4 mb-4"  formControlName="servicio" aria-label="Default select example" *ngIf="gastosForm.value.tipoGasto == tipoGastos[0]" >
                            <option *ngFor="let listado of listadoServicio" value="{{listado.servicio}}">{{listado.servicio}}</option>
                        </select>
                        <div class="mb-4" *ngIf="gastosForm.value.tipoGasto != tipoGastos[0]">
                            <label class="text-light mb-1">Nombre del gasto</label>
                            <input type="text" formControlName="nombreGasto" class="form-control"  >
                        </div>    
                        <div class="mb-4">
                            <label class="text-light mb-1" >Fecha</label>
                            <input type="date" formControlName="fecha" class="form-control" required >
                        </div>
                        <div class="col-2"></div>
                        <div class="mb-4">
                            <label class="text-light mb-1" >Valor gasto</label>
                            <input type="number" formControlName="valorGasto" class="form-control"  >
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="col-4"></div>
                            <button type="submit" class="col-4 btn btn-success btn-lg">Guardar</button>
                        </div>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>